# Production Returning for 2024-25 Season
- Book will calculate how much of each teams statistical production (goals, assists, pen, +/-) was lost in the offseason and how much is returning

In [138]:
# Dependencies

import os
import sys
import pandas as pd
import numpy as np


# path to TEMP folder
temp_folder = os.path.join(os.getcwd(), '..', 'TEMP')
# Data folder
data_folder = os.path.join(os.getcwd(), '..', 'data')
# Image folder
img_folder = os.path.join(os.getcwd(), '..', 'images')
# Logo folder
logo_folder = os.path.join(os.getcwd(), '..', 'images', 'logos')

## Path to 2023-24 stats (csv)
stats_file = os.path.join(data_folder, 'player_stats_2023_v1.csv')
stats_2023_df = pd.read_csv(stats_file)


################################################################################
roster_file = os.path.join(data_folder, 'roster_2024_current_v2.csv') # PATH TO THE ROSTER FILE
roster_2024_df = pd.read_csv(roster_file) # read as dataframe

# Path to school info table (csv)
school_info_file = os.path.join(data_folder, 'arena_school_info.csv')
school_info_df = pd.read_csv(school_info_file)

## Dictionaries and Constants

In [139]:
## Conference Membership

atlantic = ['Air Force', "American Intl", 'Army', 'Bentley', 'Canisius', 'Holy Cross', 'Mercyhurst', 
            'Niagara', 'RIT', 'Robert Morris', 'Sacred Heart', 'St Lawrence']

big_ten = ['Michigan', 'Michigan State', 'Minnesota', 'Notre Dame', 'Ohio State', 'Penn State', 'Wisconsin']

ccha = ['Augustana', 'Bemidji State', 'Bowling Green', 'Ferris State', 'Lake Superior', 'Michigan Tech', 
        'Minnesota State', 'Northern Michigan', 'St Thomas']

ecac = ['Brown', 'Clarkson', 'Colgate', 'Cornell', 'Dartmouth', 'Harvard', 'Princeton', 'Quinnipiac',
        'Rensselaer', 'St Lawrence', 'Union', 'Yale']

hockey_east = ['Boston College', 'Boston University', 'Connecticut', 'Maine', 'Massachusetts', 'Mass Lowell',
                'Merrimack', 'New Hampshire', 'Northeastern', 'Providence', 'Vermont']

nchc = ['Arizona State', 'Colorado College', 'Denver', 'Miami', 'Minnesota Duluth', 'North Dakota', 'Omaha', 'St Cloud State',
        'Western Michigan']

independents = ['Alaska Anchorage', 'Alaska', 'Lindenwood', 'Long Island', 'Stonehill']

# Create a dictionary of {Team: logo_abv} for each team with .png added to the end
logo_mapping = {}

for index, row in school_info_df.iterrows():
    logo_mapping[row['Team']] = row['logo_abv'] + '.png'

# print(logo_mapping)

### Data Modifications
- Remove Trouble character from Team Names

In [140]:


######
# Remove - from Team names
stats_2023_df['Team'] = stats_2023_df['Team'].str.replace('-', ' ')
# roster_2024_df['Team'] = roster_2024_df['Team'].str.replace('-', ' ')
stats_2023_df['Team'] = stats_2023_df['Team'].str.replace('.', '')
stats_2023_df['Team'] = stats_2023_df['Team'].str.replace("'", '')
# Lower Case columns
stats_2023_df.columns = stats_2023_df.columns.str.lower()

stats_2023_df.head()

,clean_player,team,g,a,pts,plus_minus,sh,pim,games_played
0,A.J. Hodges,Bentley,6,9,15,-1,57,2,29
1,A.J. Macaulay,Alaska,5,10,15,9,44,14,34
2,AJ Casperson,Long Island,0,1,1,1,7,2,12
3,Aaron Bohlinger,Massachusetts,3,5,8,1,22,4,34
4,Aaron Grounds,Long Island,1,2,3,-5,14,16,11

In [141]:


# Rename Current Team to Team
roster_2024_df = roster_2024_df.rename(columns={'Current Team': 'Team'})

# Create ne column called CLean_Player by merging First and Last Name
roster_2024_df['Clean_Player'] = roster_2024_df['First_Name'] + ' ' + roster_2024_df['Last_Name']
# Strip leading and trailing spaces
roster_2024_df['Clean_Player'] = roster_2024_df['Clean_Player'].str.strip()

# Lower Case columns
roster_2024_df.columns = roster_2024_df.columns.str.lower()


roster_2024_df.head()

# EXPORT ROSTER FILE TO TEMP FOLDER
# roster_2024_df.to_csv(os.path.join(temp_folder, 'roster_2024_transformed.csv'), index=False)

,team,last_name,first_name,no,position,yr,ht,wt,dob,hometown,height_inches,draft_year,nhl_team,d_round,last team,league,city,state_province,country,clean_player
0,Lake Superior,Barone,Adam,6,Defensemen,Fr,6-1,174,5/6/2004,"Sault Ste. Marie, Ont.",73,NaN,NaN,NaN,Trail,BCHL,Sault Ste. Marie,Ont.,Canada,Adam Barone
1,Lake Superior,Blanchett,Jack,16,Defensemen,So,5-11,185,5/12/2003,"Monroe, Mich.",71,NaN,NaN,NaN,Powell,BCHL,Monroe,Mich.,USA,Jack Blanchett
2,Lake Superior,Brown,Mike,3,Defensemen,Jr,6-2,209,4/3/2001,"Belmont, Mass.",74,NaN,NaN,NaN,Merrimack,NaN,Belmont,Mass.,USA,Mike Brown
3,Lake Superior,Bushy,Evan,5,Defensemen,So,6-1,195,3/26/2002,"Mankato, Minn.",73,NaN,NaN,NaN,Trail,BCHL,Mankato,Minn.,USA,Evan Bushy
4,Lake Superior,Conrad,Jacob,4,Defensemen,Fr,5-11,180,5/18/2002,"Green Bay, Wis.",71,NaN,NaN,NaN,Fairbanks,NAHL,Green Bay,Wis.,USA,Jacob Conrad

In [142]:
roster_2024_df.head()
# stats_2023_df.head()

,team,last_name,first_name,no,position,yr,ht,wt,dob,hometown,height_inches,draft_year,nhl_team,d_round,last team,league,city,state_province,country,clean_player
0,Lake Superior,Barone,Adam,6,Defensemen,Fr,6-1,174,5/6/2004,"Sault Ste. Marie, Ont.",73,NaN,NaN,NaN,Trail,BCHL,Sault Ste. Marie,Ont.,Canada,Adam Barone
1,Lake Superior,Blanchett,Jack,16,Defensemen,So,5-11,185,5/12/2003,"Monroe, Mich.",71,NaN,NaN,NaN,Powell,BCHL,Monroe,Mich.,USA,Jack Blanchett
2,Lake Superior,Brown,Mike,3,Defensemen,Jr,6-2,209,4/3/2001,"Belmont, Mass.",74,NaN,NaN,NaN,Merrimack,NaN,Belmont,Mass.,USA,Mike Brown
3,Lake Superior,Bushy,Evan,5,Defensemen,So,6-1,195,3/26/2002,"Mankato, Minn.",73,NaN,NaN,NaN,Trail,BCHL,Mankato,Minn.,USA,Evan Bushy
4,Lake Superior,Conrad,Jacob,4,Defensemen,Fr,5-11,180,5/18/2002,"Green Bay, Wis.",71,NaN,NaN,NaN,Fairbanks,NAHL,Green Bay,Wis.,USA,Jacob Conrad

## Indentify Transfers

In [143]:




# Step 1: Identify players that appear on different teams in the 2023 stats compared to the 2024 roster

# Merge the dataframes on the player name ('Clean_Player') to compare teams
transfer_df = pd.merge(stats_2023_df[['clean_player', 'team']], roster_2024_df[['clean_player', 'team']], on='clean_player', suffixes=('_2023', '_2024'))

# Filter for players who have a different team in 2023 compared to 2024
transfers = transfer_df[transfer_df['team_2023'] != transfer_df['team_2024']]
# # Rename Clean_Player to Player
transfers = transfers.rename(columns={'clean_player': 'player'})


# Reindex and save as csv to TEMP folder
transfers = transfers.reset_index(drop=True)
transfers.to_csv(os.path.join(temp_folder, 'transfers_2024.csv'))

# Create a count of transfers in per team
transfer_counts = transfers['team_2023'].value_counts().reset_index()
transfer_counts.columns = ['team', 'transfer_count']
transfers.head()
transfer_counts.head(10)

                team  transfer_count
0  Northern Michigan              11
1   Colorado College               8
2             Alaska               7
3          Wisconsin               6
4      Lake Superior               6
5              Miami               6
6        Mass Lowell               6
7       Sacred Heart               5
8         Holy Cross               5
9       Ferris State               5

### Outside Transfer Data - The Rink Live
- Taken from the Rink Live Transfer Tracker, seemingly the best source available online

In [144]:
### Open the data from The Rink Live
rink_live_path = os.path.join(data_folder, 'rink_live_2024_transfer_table.csv')
rink_live_df = pd.read_csv(rink_live_path)

# Extract Detination Team, Player and stats (GP, G, A, P, POS. Yr.) to new table to compare with my transfer table
rink_live_df = rink_live_df[['PLAYER', 'DESTINATION TEAM', 'POS.', 'YR.', 'GP', 'G', 'A', 'P', '2023/24 TEAM', 'NOTABLE INFO']]

# Remove . from column names
rink_live_df.columns = [col.replace('.', '') for col in rink_live_df.columns]
# Camel Case the column names
rink_live_df.columns = [col.replace(' ', '_').lower() for col in rink_live_df.columns]


# Rename columns to match my transfer table
rink_live_df = rink_live_df.rename(columns={
    'destination_team': 'team_2024',
    
    '2023/24_team': 'team_2023',
    
})

# Clean up player names in rink_live_df
rink_live_df['player'] = rink_live_df['player'].str.replace('-', ' ')
rink_live_df['player'] = rink_live_df['player'].str.replace('.', '')
rink_live_df['player'] = rink_live_df['player'].str.replace("'", '')
rink_live_df['player'] = rink_live_df['player'].str.strip()

rink_live_df.head()

,player,team_2024,pos,yr,gp,g,a,p,team_2023,notable_info
0,Cole Hanson,(DI golf at Mercer),F,Jr.,34,4,4,8,Maine,Transferring to Mercer to pursue DI golf.
1,Austin McCarthy,Adrian,F,Sr.,20,3,2,5,Ferris State,NaN
2,Brett Bamber,AIC,D,So.,34,4,9,13,Alaska-Anchorage,NaN
3,Danny Weight,AIC,F,Sr.,6,1,0,1,Colorado College,Two-time transfer. Also played at BC.
4,Noah Serdachny,AIC,F,So.,5,0,0,0,Colorado College,NaN

In [145]:
transfers.head()

                player          team_2023      team_2024
0        A.J. Macaulay             Alaska  Bemidji State
1      Aaron Bohlinger      Massachusetts     Quinnipiac
2         Adam Cardona        Mass Lowell         Alaska
3      Aiden Gallacher  Northern Michigan          Omaha
4  Aiden Hansen-Bukata                RIT     Ohio State

In [146]:
### HOTFIXES FOR THE RINK LIVE DATA

# AIC = American Intl
# UMass Lowell = Mass Lowell
# Remove - in team names
rink_live_df['team_2024'] = rink_live_df['team_2024'].str.replace('-', ' ')

# Create a mapping for the teams
team_mapping = {
    'AIC': 'American Intl',
    'UMass Lowell': 'Mass Lowell',
}

In [147]:
# Merge my transfer table with The Rink Live data
merged_df = transfers.merge(rink_live_df, on=['player', 'team_2024'], how='outer', indicator=True)

# Identify players that are in my transfer table but not in The Rink Live data
only_in_my_transfers = merged_df[merged_df['_merge'] == 'left_only']

# Identify players that are in The Rink Live data but not in my transfer table
only_in_rink_live = merged_df[merged_df['_merge'] == 'right_only']

# Save the results to CSV files
only_in_my_transfers.to_csv(os.path.join(temp_folder, 'only_in_my_transfers.csv'), index=False)
only_in_rink_live.to_csv(os.path.join(temp_folder, 'only_in_rink_live.csv'), index=False)

# Print a summary of the results
print(f"Total transfers in my data: {len(transfers)}")
print(f"Total transfers in The Rink Live data: {len(rink_live_df)}")
print(f"Players only in my transfers data: {len(only_in_my_transfers)}")
print(f"Players only in The Rink Live data: {len(only_in_rink_live)}")

Total transfers in my data: 194
Total transfers in The Rink Live data: 348
Players only in my transfers data: 56
Players only in The Rink Live data: 211

In [148]:
# Step 2: Quantify how much production is transferring into each team
## Rename clean_player to player in stats_2023_df for merging
stats_2023_df = stats_2023_df.rename(columns={'clean_player': 'player'})

# Merge the transfer list with the stats_2023_updated_df to bring in the player stats
transfer_stats = transfers.merge(stats_2023_df, on='player', how='left')



# transfer_stats.head()

In [149]:
roster_2024_df.head()

,team,last_name,first_name,no,position,yr,ht,wt,dob,hometown,height_inches,draft_year,nhl_team,d_round,last team,league,city,state_province,country,clean_player
0,Lake Superior,Barone,Adam,6,Defensemen,Fr,6-1,174,5/6/2004,"Sault Ste. Marie, Ont.",73,NaN,NaN,NaN,Trail,BCHL,Sault Ste. Marie,Ont.,Canada,Adam Barone
1,Lake Superior,Blanchett,Jack,16,Defensemen,So,5-11,185,5/12/2003,"Monroe, Mich.",71,NaN,NaN,NaN,Powell,BCHL,Monroe,Mich.,USA,Jack Blanchett
2,Lake Superior,Brown,Mike,3,Defensemen,Jr,6-2,209,4/3/2001,"Belmont, Mass.",74,NaN,NaN,NaN,Merrimack,NaN,Belmont,Mass.,USA,Mike Brown
3,Lake Superior,Bushy,Evan,5,Defensemen,So,6-1,195,3/26/2002,"Mankato, Minn.",73,NaN,NaN,NaN,Trail,BCHL,Mankato,Minn.,USA,Evan Bushy
4,Lake Superior,Conrad,Jacob,4,Defensemen,Fr,5-11,180,5/18/2002,"Green Bay, Wis.",71,NaN,NaN,NaN,Fairbanks,NAHL,Green Bay,Wis.,USA,Jacob Conrad

In [150]:
# Rename clean_player to player in roster_2024_df for mergingroster_2024_df
roster_2024_df = roster_2024_df.rename(columns={'clean_player': 'player'})

# Step 1: Match the players from 2023 stats to 2024 roster based on 'Clean_Player'
# We'll merge the two DataFrames on 'Clean_Player' to identify returning players
merged_df = pd.merge(stats_2023_df, roster_2024_df[['player', 'team']], on='player', how='left', suffixes=('_2023', '_2024'))

# Step 2: Classify players as "Returning" or "Departed"
merged_df['Status'] = merged_df['team_2024'].notna().map({True: 'Returning', False: 'Departed'})

# HOTFIX TO DEAL WITH TRANSFERRED PLAYERS
# If Team_2023 is not equal to Team_2024, then the player transferred - set Status to 'Departed'
merged_df.loc[merged_df['team_2023'] != merged_df['team_2024'], 'Status'] = 'Departed'

# Step 3: Calculate total production for each group (Returning and Departed) by team
team_production = merged_df.groupby(['team_2023', 'Status']).agg({
    'g': 'sum',
    'a': 'sum',
    'sh': 'sum',
    'pim': 'sum',
    'pts': 'sum',
    'games_played': 'sum'
}).reset_index()

# Step 4: Pivot the table to make "Returning" and "Departed" production easy to compare for each team
team_production_pivot = team_production.pivot(index='team_2023', columns='Status', values=['g', 'a', 'pts', 'sh', 'pim', 'games_played']).fillna(0)

# Flatten the MultiIndex for clarity
team_production_pivot.columns = ['_'.join(col).strip() for col in team_production_pivot.columns.values]

In [151]:
team_production_pivot.head(35)
# merged_df.head(30)


# Name the first column 'Team' instead of 'Team_2023'
team_production_pivot = team_production_pivot.rename_axis('Team').reset_index()

# Output to TEMP folder
# team_production_pivot.to_csv(os.path.join(temp_folder, 'team_production_2024_v1.csv'))
team_production_pivot.head(35)

,Team,g_Departed,g_Returning,a_Departed,a_Returning,pts_Departed,pts_Returning,sh_Departed,sh_Returning,pim_Departed,pim_Returning,games_played_Departed,games_played_Returning
0,Air Force,53,62,90,97,143,159,541,635,230,196,322,436
1,Alaska,74,36,127,68,201,104,654,371,325,197,395,283
2,Alaska Anchorage,44,51,84,72,128,123,541,451,246,191,351,331
3,American Intl,52,67,101,92,153,159,606,580,238,196,454,347
4,Arizona State,70,59,91,129,161,188,546,578,213,366,331,424
5,Army,33,65,71,108,104,173,319,734,125,236,221,519
6,Augustana,29,59,46,102,75,161,254,648,91,187,206,471
7,Bemidji State,46,71,79,124,125,195,418,713,76,171,232,529
8,Bentley,14,81,20,150,34,231,174,892,69,302,133,565
9,Boston College,85,98,118,205,203,303,555,753,101,280,274,541
10,Boston University,93,70,159,127,252,197,734,587,268,182,386,406
11,Bowling Green,14,72,17,126,31,198,167,850,16,379,84,630
12,Brown,9,52,25,81,34,133,154,629,38,163,96,495
13,Canisius,32,71,78,91,110,162,458,669,267,203,292,451
14,Clarkson,47,48,77,82,124,130,428,487,221,141,323,374
15,Colgate,51,75,91,128,142,203,497,690,157,158,311,438
16,Colorado College,25,86,70,106,95,192,417,689,122,231,266,476
17,Connecticut,47,43,71,70,118,113,592,518,215,178,360,352
18,Cornell,14,101,30,165,44,266,60,888,16,277,35,661
19,Dartmouth,8,84,16,143,24,227,118,789,74,219,148,480
20,Denver,73,129,155,199,228,328,528,874,199,221,302,577
21,Ferris State,47,36,74,66,121,102,546,517,141,156,387,333
22,Harvard,1,69,3,110,4,179,14,756,6,218,45,579
23,Holy Cross,62,54,70,130,132,184,537,672,263,320,290,489
24,Lake Superior,37,77,63,123,100,200,358,736,122,213,266,502
25,Lindenwood,32,42,61,64,93,106,308,432,203,288,269,284
26,Long Island,37,72,71,112,108,184,410,586,168,338,281,418
27,Maine,44,75,64,138,108,213,402,809,111,205,250,490
28,Mass Lowell,20,52,35,79,55,131,305,667,169,167,263,457
29,Massachusetts,30,78,74,112,104,190,411,658,136,175,301,439
30,Mercyhurst,34,64,43,128,77,192,256,708,132,227,208,481
31,Merrimack,53,45,102,67,155,112,577,393,239,157,409,282
32,Miami,40,43,57,82,97,125,407,610,139,198,298,453
33,Michigan,96,73,170,131,266,204,716,711,161,333,357,455
34,Michigan State,45,102,88,176,133,278,375,990,149,318,211,541

In [153]:
## Merge in the transfer stats to quantify incoming production

# Step 1: Calculate total production for incoming transfers
incoming_transfer_stats = transfer_stats.groupby('team_2024').agg({
    'g': 'sum',
    'a': 'sum',
    'sh': 'sum',
    'pim': 'sum',
    'pts': 'sum',
    'games_played': 'sum'
}).reset_index()

# Step 2: Rename the columns for clarity
incoming_transfer_stats = incoming_transfer_stats.rename(columns={
    'team_2024': 'Team',
    'g': 'incoming_g',
    'a': 'incoming_a',
    'sh': 'incoming_sh',
    'pim': 'incoming_pim',
    'pts': 'incoming_pts',
    'games_played': 'incoming_games_played'
})

# Step 3: Merge the incoming transfer stats with the team production pivot
final_team_production = team_production_pivot.merge(incoming_transfer_stats, on='Team', how='left').fillna(0)

# Step 4: Calculate total production for each team
final_team_production['total_g'] = final_team_production['incoming_g'] + final_team_production['g_Returning']

# Output to TEMP folder
final_team_production.to_csv(os.path.join(temp_folder, 'final_team_production_2024_v1.csv'), index=False)

In [137]:
# # Load the uploaded CSV file
# production_data_path = '/mnt/data/team_production_2024_v1.csv'

# # Read the file into a DataFrame
# production_df = pd.read_csv(production_data_path)

production_df = team_production_pivot.copy()
# Select 10 random teams for testing
random_teams_df = production_df

# Prepare the data for plotting
teams = random_teams_df['Team']
returning_goals = random_teams_df['G_Returning']
returning_assists = random_teams_df['A_Returning']
departed_goals = random_teams_df['G_Departed']
departed_assists = random_teams_df['A_Departed']

# Create the stacked bar plot
fig, ax = plt.subplots(figsize=(10, 6))

# Plot the bars
ax.bar(teams, returning_goals, color='darkgreen', label='Returning Goals')
ax.bar(teams, returning_assists, bottom=returning_goals, color='lightgreen', label='Returning Assists')
ax.bar(teams, departed_goals, bottom=returning_goals + returning_assists, color='darkred', label='Departed Goals')
ax.bar(teams, departed_assists, bottom=returning_goals + returning_assists + departed_goals, color='lightcoral', label='Departed Assists')

# Add labels and title
ax.set_ylabel('Goals and Assists')
ax.set_title('Returning and Departed Production (Goals and Assists) for Selected Teams')
ax.legend()

# Rotate the team names for better readability
plt.xticks(rotation=45, ha='right')

# Show the plot
plt.tight_layout()
plt.show()

KeyError: 'G_Returning'